<div id="menu" class="hidden">
	<h3>yes!chef</h3>
	<% if current_user %>
	<ul>
		<li><a href="/recipes/new"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Recipe</a></li>
		<li><a href="/logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
	</ul>
	<% else %>
	<h4 style="color:#f22613"> please login </h4>
	<% end %>
</div>

<div id="content">

	<!-- Navbar -->
	<div id="menubar">
		<div id="button">
			<i id="menu-button" href="#menu-button" class="fa fa-bars fa-2x menu-icon"></i>
		</div>
	</div>


	<% if current_user %>
		<% @recipes.each do |r| %>
		<div class="recipe">
			<%= image_tag r.photo.url(:large), class: "image" %>
		</div>
	<% end %>

	<% else %>
		<h1 id="error-body"> You are not logged in, please log in or sign up!</h1>
	<% end %>


	<!-- Content -->


</div>