<!-- navbar partial -->
<nav class="navbar navbar-default navbarOverride navbar-font">
  <div class="container-fluid center-width">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed black" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <br>
    </div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
		
      <ul class="nav navbar-nav">
	        <li><a href="/recipes">My Recipes</a></li>
	    </ul>

      <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
             Chef <%= current_user.name %> | <%= link_to "logout", logout_path %>
          <% else %>
             <%= link_to "login", login_path %> | <%= link_to "signup", signup_path %>
          <% end %>  
      </ul>

    </div>
  </div>
</nav>


