

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1 id="title">yes!chef</h1>
			<h4 id="intro">a recipe book</h4>
			<button type="button" class="btn-main center" data-toggle="modal" data-target=".login-modal">Login</button><br>
			<%= render "partials/login" %>
		</div>
	</div>
	<div class="row">	
		<div class="col-md-4 col-md-offset-4">
			<button type="button" class="btn-main center" data-toggle="modal" data-target=".signup-modal">Signup</button>
			<%= render "partials/signup" %>
		</div>
	</div>
</div>


						
			