.container .row div {
	h1.home-title {
		color: $blue;
		font: {
			color: $blue;
			family: $altfont;
			size: 5em;
		}
		text-align: center;
		padding-top: 100px;
	}
	h4.home-desc {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 100px;
	}
	button.btn-main, .btn-main:focus {
		@include btn-main;
	}
}

// modals - login and signup
div.login-modal {
	div.modal-dialog {
		width: 350px;
		margin-top: 100px;
		margin-right: auto;
		margin-left: auto;
		div.modal-content {
			width: 450px;
			div.modal-header h4.modal-title {
				color: $blue;
			}
			div.modal-body .form-group {
				.formfield-space {
					margin-bottom: 10px;
					input.form-control {
						width: 380px;
					}
				}
			}
			div.modal-footer {
				text-align: left;
				padding: 15px 0 0 0;
				input.btn-modal {
					@include btn-modal;
				}
				span.login-flash {
					color: red;
					padding-left: 5px;
				}
			}
		}
	}
}

div.signup-modal {
	@extend div.login-modal;
	// FIX input fields for signup modal - class from inspector
	.input-group .form-control:last-child {
		border-radius: 4px;
		width: 380px;
	}
}







