$blue: #4A90E2;
$primarycolor: #333;
$beige: #FAFAEE;
$errorColor: #F22613;
$mainfont: 'Ubuntu', sans-serif;
$altfont: 'Chelsea Market', cursive;

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	transition: $args;
}

@mixin btn-modal {
	color: #fff;
	background: $blue;
	width: 100px;
	border: 1px solid $blue;
	outline: none;
	&:hover, &:focus {
		color: $blue;
		background: #fff;
		border-color: $blue;
		@include transition(all linear 0.2s);
		outline: none;
	}
}

@mixin btn-main {
	display: block;
	width: 200px;
	padding: 10px 0;
	background: transparent;
	font-size: 1.5em;
	border: 2px solid $blue;
	text-transform: uppercase;
	outline: none;
	box-shadow: inset 0 0 0 0 $blue;
	@include transition(all linear 0.2s);
	&:hover {
		box-shadow: inset 200px 0 0 0 $blue;
		color: $beige;
		outline: none;
	}
}