


/*****COLORS***********
629E7E - a green
9DC568 - lt green
1DA59B - TURQ 
1A948B - another turq
F1EBDE - BEIGE
493A3A - brownish
***********************/
$mainblue: #4A90E2;
$primarycolor: #333;

body {
	color: $primarycolor;
	// background: url("/images/restaurant_icons.png") ;
	font-family: 'Ubuntu', sans-serif;
}
#error-body {
	display: table;
	margin: 100px auto;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
a {
	color: $mainblue;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}
hr {
	border-color: #493A3A;
	margin-top: -5px;
}
textarea.form-control {
	height: 200px;
	width: 400px;
}
#log-in-first {
	color: #errorColor;
}

/*****************************************/
/********* Log In Sign up Modal **********/
/*****************************************/
.greenBg {
	background-color: #1DA59B;
}
.modal-content {
	width: 450px;
}
.modal-footer {
	text-align: left;
	padding: 15px 0 0 0;
}

.form-control {
	width: 240px;
}
.loginFlash {
	color: red;
	padding-left: 5px;
}
.modal-dialog {
	width: 350px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
}
.modal-title {
	color: #493A3A;
}
