@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Chelsea+Market);


/*#774F38 brn
C5E0DC blue
3F2860 - purple
90C5A9 - lt green
7A9A95 - dk green
EF6D3B - dk oj
FA8B60 - lt oj
393939 - dk grey

629E7E - a green
9DC568 - lt green
1DA59B - TURQ - 1A948B
F1EBDE - BEIGE
 493A3A- brownish

*/
.greenBg {
	background-color: #1DA59B;
}
.car-container {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}

.carousel-size {
	height: 534px
}

.carousel-caption {
	bottom: 360px;
	left: 85px;
	text-align: left;
}
.center-width {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.alert-link:hover {
	color: #B68685;
}
body{
	color: #493A3A;
	background-color: #F1EBDE;
	background-position: right;
	background-repeat: no-repeat;
	font-family: "ubuntu";
}

a {
	color: #1DA59B;
}
a:hover {
	color: #9DC568;
	text-decoration: none;
}

hr {
	border-color: #493A3A;
	margin-top: -5px;
}

.table tr  {
	cursor: pointer;
}

#loginbar > p {
	color: #1DA59B;
}

#loginbar:hover {
	color: #9DC568;
	text-decoration: none;
}


/*****************************************/
/**************LOGIN MODAL ***************/
/*****************************************/
.modal-content {
	width: 350px;
}
.modal-footer {
	text-align: left;
	padding-left: 0px;
}
.loginModalContainer {
	margin-left: auto;
	margin-right: auto;
}
.form-control {
	width: 240px;
}

.loginFlash {
	color: red;
	padding-left: 5px;
}
.modal-dialog {
	width: 350px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
}

.modal-title {
	color: #493A3A;
}
/*****************************************/
/************** NAV BAR ******************/
/*****************************************/
.navbar-brand-font {
	font-family: "chelsea market";
	font-size: 30px;
}
.navbar-font {
	font-family: "ubuntu";
	font-size: 16px;
	color: #493A3A;
}
.navbar-default {
	background-color: #1DA59B;
}
.navbar-default .navbar-brand {
	color: #493A3A;
}
.navbar-default .navbar-brand:hover {
	color: #F1EBDE;
} 
.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand {
	margin-left: -30px;
}
.navbar-right {
	padding-top: 15px
}
.navbar-default .navbar-nav > a {
	color: #493A3A;
}
.navbar-default .navbar-nav > a:hover {
	color: #F1EBDE;
}
.navbar-default .navbar-nav > li > a {
	color: #493A3A;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #F1EBDE;
}
#myModalLabel {
	font-size: 20px;
	color: black;
	text-align: center;
}
.navbarOverride {
	margin-bottom: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-color: #493A3A;
	border-width: 2px;
	border-radius: 0;

}
.navbar-default .navbar-toggle {
	border-color: #493A3A;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #493A3A;
}

.navbar-default .navbar-toggle:hover {
	background-color: #F1EBDE;
}



/*****************************************/
/************ Join Modal *****************/
/*****************************************/

.btn-custom {
	color: red;
	background-color: #00B5B9;
	border-color: #2e6da4;
}

.btn-custom:hover {
	background-color: #82FBF4;
}

.buttonOverride {
	background-color: black;
	color: dodgerblue;
	border: 0px;
}
.buttonOverride:hover {
	background-color:blue;
}