


/*****COLORS***********
629E7E - a green
9DC568 - lt green
1DA59B - TURQ 
1A948B - another turq
F1EBDE - BEIGE
493A3A - brownish
***********************/
$mainblue: #4A90E2;
$primarycolor: #333;

body {
	color: $primarycolor;
	background: url("/images/restaurant_icons.png") ;
	font-family: 'Ubuntu', sans-serif;
}
#error-body {
	display: table;
	margin: 100px auto;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
a {
	color: $mainblue;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}
hr {
	border-color: #493A3A;
	margin-top: -5px;
}
textarea.form-control {
	height: 200px;
	width: 400px;
}
#log-in-first {
	color: #errorColor;
}

/*****************************************/
/*****************Carousel****************/
/*****************************************/
.car-container {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}

.carousel-size {
	height: 534px
}
.carousel-caption {
	bottom: 360px;
	left: 85px;
	text-align: left;
}
.center-width {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*****************************************/
/************ Recipe Table ***************/
/*****************************************/
.table tr  {
	cursor: pointer;
}
.table > tbody > tr > td {
	vertical-align: middle;
}


/*****************************************/
/********* Log In Sign up Modal **********/
/*****************************************/
.greenBg {
	background-color: #1DA59B;
}
.modal-content {
	width: 350px;
}
.modal-footer {
	text-align: left;
	padding-left: 0px;
}

.form-control {
	width: 240px;
}
.loginFlash {
	color: red;
	padding-left: 5px;
}
.modal-dialog {
	width: 350px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
}
.modal-title {
	color: #493A3A;
}

/*****************************************/
/************** NAV BAR ******************/
/*****************************************/
.navbar-brand-font {
	font-family: 'Chelsea Market', cursive;
	font-size: 30px;
}
.navbar-font {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #493A3A;
}
.navbar-default {
	background-color: #1DA59B;
}
.navbar-default .navbar-brand {
	color: #493A3A;
}
.navbar-default .navbar-brand:hover {
	color: #F1EBDE;
} 
.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand {
	margin-left: -30px;
}
.navbar-right {
	padding-top: 15px
}
.navbar-default .navbar-nav > a {
	color: #493A3A;
}
.navbar-default .navbar-nav > a:hover {
	color: #F1EBDE;
}
.navbar-default .navbar-nav > li > a {
	color: #493A3A;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #F1EBDE;
}
.navbarOverride {
	margin-bottom: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-color: #493A3A;
	border-width: 2px;
	border-radius: 0;
}
.navbar-default .navbar-toggle {
	border-color: #493A3A;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #493A3A;
}
.navbar-default .navbar-toggle:hover {
	background-color: #F1EBDE;
}