$mainblue: #4A90E2;
$beige: #FAFAEE;
$navbar: #7D7D77;
$alt: rgba(0,0,0,0.5);
$mainfont: 'Ubuntu', sans-serif;
$altFont: 'Chelsea Market', cursive;
.center {
	margin: 0 auto;
}

#main-nav {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
}

.menu-icon {
	color: $beige;
	border: 2px solid $beige;
	padding: 4px 8px;
	margin: 10px;
	&:hover {
		color: rgba(0,0,0,0.5);
		background-color: $beige;
		transition: all linear 0.2s;
		-webkit-transition: all linear 0.2s;
		-moz-transition: all linear 0.2s;
	}
}

/********** SLIDEOUT MENU *****************/
.slideout-menu {
	position: fixed;
	top: 0;
	left: -250px;
	width: 200px;
	height: 100%;
	color: $beige;
	background: #333;
}

.slideout-menu h3 {
	position: relative;
	font-family: $altFont;
	padding: 15px 10px;
	font-size: 2em;

}

.slideout-menu a {
	color: #fff;
	&:hover {
		color: $beige;
	}
}
.slideout-menu a i {
	position: absolute;
	top: 15px;
	right: 10px;
	color: #fff;	
	&:hover {
		color: $mainblue;
		transition: all linear 0.2s;
		-webkit-transition: all linear 0.2s;
		-moz-transition: all linear 0.2s;
	}
}

.slideout-menu ul {
	list-style: none;
	padding: 30px 10px;
	font-size: 20px;
	border-top: 1px solid $navbar;
}

.slideout-menu li {
	margin-bottom: 15px;
}

// .slideout-menu .slide-menu-toggle {
// 	position: absolute;
// 	display: inline-block;
// 	top: 10px;
// }






#title {
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	padding-top: 100px;
}

#intro {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 100px;
}

.btn-main,
.btn-main:focus {
	display: block;
	width: 200px;
	padding: 10px 0;
	background: transparent;
	font-size: 1.5em;
	border: 2px solid $mainblue;
	text-transform: uppercase;
	outline: none;
	box-shadow: inset 0 0 0 0 $mainblue;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	transition: all linear 0.2s;
	&:hover {
		box-shadow: inset 200px 0 0 0 $mainblue;
		color: $beige;
		outline: none;
	}
}

.btn-login-modal {
	width: 100px;
	background: transparent;
	border: 1px solid #ccc;
	outline: none;
	&:hover, &:focus {
		color: #fff;
		background: $mainblue;
		border-color: $mainblue;
		transition: all ease-in 0.2s;
		outline: none;
	}
}

.formfield-space {
	margin-bottom: 10px;
}