$mainblue: #4A90E2;
$beige: #FAFAEE;
$mainfont: 'Ubuntu', sans-serif;

.center {
	margin: 0 auto;
}

#title {
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	padding-top: 100px;
}

#intro {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 100px;
}

.btn-main,
.btn-main:focus {
	display: block;
	width: 200px;
	padding: 10px 0;
	background: transparent;
	font-size: 1.5em;
	border: 2px solid $mainblue;
	text-transform: uppercase;
	outline: none;
	box-shadow: inset 0 0 0 0 $mainblue;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	transition: all linear 0.2s;
	&:hover {
		box-shadow: inset 200px 0 0 0 $mainblue;
		color: $beige;
		outline: none;
	}
}

.btn-login-modal {
	width: 100px;
	background: transparent;
	border: 1px solid #ccc;
	outline: none;
	&:hover, &:focus {
		color: #fff;
		background: $mainblue;
		border-color: $mainblue;
		transition: all ease-in 0.2s;
		outline: none;
	}
}

.formfield-space {
	margin-bottom: 10px;
}