$mainblue: #4A90E2;
$beige: #FAFAEE;
$navbar: #7D7D77;
$alt: rgba(0,0,0,0.5);
$mainfont: 'Ubuntu', sans-serif;
$altFont: 'Chelsea Market', cursive;
$errorColor: #F22613;


.center {
	margin: 0 auto;
}

#main-nav {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
}

.menu-icon {
	color: $beige;
	border: 2px solid $beige;
	padding: 4px 8px;
	margin: 10px;
	cursor: pointer;
	&:hover {
		color: $mainblue;
		background-color: $beige;
		transition: all linear 0.2s;
		-webkit-transition: all linear 0.2s;
		-moz-transition: all linear 0.2s;
	}
}

/********** SLIDEOUT MENU ALT2 *****************/
#menubar {
	width:100%;
	background-color:$mainblue;
	color: #fff;
}
#menu, 
#content {
	display:inline;
}
#content {
	width:100%;
	z-index: 5;
	position: fixed;
	left: 0px;
	height: 100%;
}

#menu {
	background-color: #333;
	float:left;
	width: 200px;
	height: 100vh;
}

#menu h3 {
	color: $mainblue;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
	margin: 10px 0 10px 10px;
}

#menu ul {
	border-top: 1px solid white;
	padding-top: 10px;
	padding-left: 10px;
}

#menu ul li {
	margin: 10px 0;
}
#menu ul li a,
#menu ul li a:focus,
#menu ul li a:active {
	color: $mainblue;
	list-style: none;
	font-size: 1.5em;
	text-decoration: none;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

/************ LOGIN PAGE ****************/
#title {
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	padding-top: 100px;
}

#intro {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 100px;
}

.btn-main,
.btn-main:focus {
	display: block;
	width: 200px;
	padding: 10px 0;
	background: transparent;
	font-size: 1.5em;
	border: 2px solid $mainblue;
	text-transform: uppercase;
	outline: none;
	box-shadow: inset 0 0 0 0 $mainblue;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	transition: all linear 0.2s;
	&:hover {
		box-shadow: inset 200px 0 0 0 $mainblue;
		color: $beige;
		outline: none;
	}
}

.btn-login-modal {
	width: 100px;
	background: transparent;
	border: 1px solid #ccc;
	outline: none;
	&:hover, &:focus {
		color: #fff;
		background: $mainblue;
		border-color: $mainblue;
		transition: all ease-in 0.2s;
		outline: none;
	}
}

.formfield-space {
	margin-bottom: 10px;
}